
button{
    border: none;
    background: none;
}

.margin1{
    margin: 0 10px;
}

.formInput{
    width: 50%;
}


.accrd{
    margin-top: 50px;
}

.submit{
    margin-top: 10px;
}

table{
    width: 100%;
}

.mainDiv{
    overflow: auto;
}