:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-drawer{
    width: 300px;
}

.mat-drawer-container{
    height: 100%;
}
.mat-drawer-content{
    padding: 20px;
}

.side-div{
     background-color: rgba($color: #0c1036b2, $alpha: 0.8);
}