<div>
<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Parth Kakadiya</h2>
            <h4>example@abc.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Profile Image">
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item  routerLink="/" ><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a mat-list-item  routerLink="/posts"><mat-icon> textsms</mat-icon>Subscriber</a>
    <a mat-list-item  routerLink="/serviceplans"><mat-icon>inbox</mat-icon> Service Plans</a>
    <a mat-list-item  routerLink="/nas"><mat-icon>gesture</mat-icon> NAS</a>
    <a mat-list-item  routerLink="/ippools"><mat-icon>flip</mat-icon> IP Pool</a>
    <a mat-list-item  routerLink="/users"><mat-icon>supervisor_account</mat-icon> Users</a>
    <a mat-list-item  routerLink="/logs">	<mat-icon>view_list</mat-icon> Logs</a>
</mat-nav-list>
</div>