button{
    border: none;
    background: none;
}

.margin1{
    margin: 0 10px;
}

.formInput{
    width: 60%;
}


.accrd{
    margin-top: 50px;
}

.submit{
    margin-top: 10px;
}

table{
    width: 100%;
}

.checkboxes{
    margin-top: 10px;
}

.active{
    color: green;
    font-weight: bolder;
}

.disable{
    color: red;
    font-weight: bolder;
}

.online{
    color: royalblue;
    font-weight: bolder;
}